
.case-study-gallery{
  margin-top:50px;
  width: 90%;
  margin:50px auto;
  max-width:1100px;
}
.case-study {
  position: relative;
  display:block;
  width: 100%;
  height: 300px;
  margin:0 auto 2rem;
	background-size:cover;
  box-shadow:0px 2px 5px rgba(0,0,0,.3);
  overflow:hidden;
  transition:all .4s ease;
  @media screen and (min-width:37.5em){
    height: 300px;
  }
  @media screen and (min-width:45em) {
    display:inline-block;
  	width: 45%;
    margin-left: 25px;
  }
}


  .case-study__img{
    width: 90%;
    display:block;
  	margin-top:50%;
    transform:translateY(50%);
    margin:0 auto;
  }


.case-study__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  z-index:10;
  &:after {
    content:'';
    width: 100%;
    border-radius:0px;
    height: 100%;
    background-color: #202020;
    opacity:0;
    position: absolute;
    top:0;
    z-index:-10;
    left:0;
    transition:all .3s ease;
  }
}

  .case-study__title {
    position: relative;
    top:-200px;
    margin-bottom:2rem;
    margin-top:4rem;
    font-size: 2.25rem;
    font-family: 'Raleway';
    font-weight: 100;
    color:white;
    text-align: center;
    letter-spacing:1px;
    transition:all .3s cubic-bezier(.3, 0, 0, 1.3);
  }

  .case-study__link {
    position: relative;
    display:block;
    width:60%;
    top:200px;
    padding:10px;
    margin: 0 auto;
    font-family: 'Raleway';
    color:white;
    letter-spacing:1px;
    text-decoration: none;
    text-align: center;
    border:2px solid white;
    border-radius:3px;
    font-size: 1.25em;
    transition:all .3s cubic-bezier(.3, 0, 0, 1.3);
    &:hover {
      background-color: white;
      color:#202020;
    }
  }


.case-study:hover {

  .case-study__title{
    top:0;
  }
  .case-study__link{
    top:0;
  }

  .case-study__overlay:after{
    opacity:.75;
  }
}

.study1{
  background-image: url('../images/SwimATXsolid.jpg');
  background-position: center center;
}
.study2 {
  background-image: url('../images/brsolid.jpg');
  background-position: center center;
}
.study3{
  background-image: url('../images/GRsolid.jpg');
  background-position: center center;
}
.study4{
  background-image: url('../images/vtsolid.jpg');
  background-position: center center;
}
.study5{
  background-image: url('../images/shecode.jpg');
  background-position: center center;
}
.study6{
  background-image: url('../images/tjsolid.jpg');
  background-position: center center;

}
