.skillsection {
  margin-bottom: 50px;
}
.skills {
  text-align: center;
display: flex;
padding: 20px;

h1 {
  width: 100%;
}

.skillsolo {
  width: 20%;
  margin: 0% 2.5%;
}

.skillgraphic img{
  height: 200px;
}

.skillinfo h2 {
  margin-bottom: 0%;
}
}
