.rfp {
  text-decoration: none;
  color: #37c6f4;
}

.rfp:hover {
  color: #4d4d4d;
}

.project .projectoneintro{
  overflow: hidden;
}
.projectoneintro {
  padding: 5% 5% 15% 50%;
  text-align: left;
  background-attachment: fixed;
  background-image: url(../images/SwimATXdisplay.png);
  background-position: left;
  background-size: 60%;
  background-repeat: no-repeat;
}

.project .projecttwointro{
  overflow: hidden;
}

.projecttwointro {
  padding: 5% 5% 15% 50%;
  text-align: left;
  background-attachment: fixed;
  background-image: url(../images/Goodreadsdisplay.png);
  background-position: left;
  background-size: 60%;
  background-repeat: no-repeat;
}
.project .projectthreeintro{
    overflow: hidden;
    margin: 0 auto;
    max-height: 600px;

}
.intro_text {
  position: relative;
  width: 60%;
  float: right;
  text-align: left;
  padding: 5% 5%;

}
.branchintropic {
  float: left;
  position:fixed;
  left: 5%;

}
.branchintropic img {
  width: 350px;
}

.project .projectfourintro{
  overflow: hidden;
}

.projectfourintro {
  padding: 5% 50% 15% 5%;
  text-align: left;
  background-attachment: fixed;
  background-image: url(../images/vtdisplay.png);
  background-position: 90% 50%;
  background-size: 70%;
  background-repeat: no-repeat;
}


.introp {
line-height: 1.6;
font-family: $bodyfont;
}

.project .problem, .process{
text-align: left;
margin: 0% 7%;
}

.branchproblem {
  padding-top: 2%;
  background: white;
  position: relative;
    z-index: 3;
}
.problem h1 {
margin: 50px 0px 20px;
}

.process h1 {
margin: 50px 0px 20px;
}

.projectheader {
  padding: 0px 66px;

}
.project p {
  font-family: $bodyfont;
  font-weight: 400;
  line-height: 1.6;
}

.projectdiv {
float: left;
width: 60%;
margin-bottom: 80px;
}
.projectpicleft{
clear: both;
float: left;
width: 30%;
padding: 20px 30px 0px 0px;
margin-right: 30px;
}

.grcompare {
  height: 250px;
}
.projectpicright{
clear: both;
float: right;
}
.projectpicright img{
  height: 300px;
}
.number {
float: left;
height: 50px;
padding: 5px 10px 0px 10px;
}
.numberheader{
float: left;
}
.numberheader h2{
margin: 15px 0px 10px;
}
.process p{
clear: both;
padding: 0px 66px;
}

@media (min-width: 761px) and (max-width: 1000px) {

  .intro_text {
    position: relative;
    width: 50%;
    float: right;
    text-align: left;
    padding: 5% 5% 0%;
  }
  .project .projectthreeintro{
      overflow: hidden;
      margin: 0 auto;
      min-height: 600px;
  }
  .projectdiv {
  width: 100%;
  margin-bottom: 60px;
  }
  .process p{
  clear: both;
  padding: 0px 0px;
  }
  .projectheader {
    padding: 0px 0px;

  }
  .projectpicright{
  float: left;}


}

@media (min-width: 501px) and (max-width: 760px) {

  .intro_text {
    position: relative;
    width: 90%;
    float: none;
    text-align: left;
    padding: 5% 5% 0%;
  }
  .branchintropic {
    width: 90%;
    float: none;
    position: fixed;
  }

  .branchintropic img{
    width: 300px;
  }
  .project .projectthreeintro{
      overflow: hidden;
      margin: 0 auto;
      min-height: 600px;
  }

.projectdiv {
  width: 100%;
}
.projectpicright{
  padding: 20px 30px 0px 0px;
  float: left;
}
.projectheader {
  padding: 0px 0px;

}
.process p{
clear: both;
padding: 0px 0px;
}
}

@media (min-width: 320px) and (max-width: 500px){

  .intro_text {
    position: relative;
    width: 90%;
    float: none;
    text-align: center;
    padding: 5% 5% 0%;
  }
  .branchintropic {
    width: 100%;
    float: none;
    position: fixed;
  }

  .branchintropic img{
    width: 300px;
  }

  .projectoneintro {
    text-align: center;
    background-position: 50% 70%;
    padding: 5% 10% 50%;
    background-size: contain;
  }
  .projecttwointro {
    text-align: center;
    background-position: 50% 80%;
    padding: 5% 10% 50%;
    background-size: contain;
  }
  .projectthreeintro {
    text-align: center;
    background-position: 55% 70%;
    padding: 5% 10% 60%;
    background-size: 50%;
  }
  .projectfourintro {
    text-align: center;
    background-position: 50% 70%;
    padding: 5% 10% 50%;
    background-size: contain;
  }


.projectdiv {
  width: 100%;
}
.process p{
clear: both;
padding: 0px 10px;
}
.projectheader {
  padding: 0px 10px;

}
.projectpicright{
  padding: 20px 30px 0px 0px;
  float: left;
}
}
