@-ms-viewport{
  width: device-width;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding:0px;
  overflow-x: hidden;
}
body {
  text-align: center; }

h1, h2, h3, a, li {
  font-family: "Outfit", Helvetica, sans-serif;
  font-weight: 300;
  color: #4d4d4d; }
h2 {
  line-height: 1.6;
}

p {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #4d4d4d; }

a:hover {
  transition: .3s;
  text-decoration: none;
}
body{
  text-align: center;
}


	.gridwrapper{
		width:90%;
		display:block;
		margin:1rem auto;
		max-width:71.875em;
		box-sizing:border-box;
		padding:1em;

	}

	.workcard {
    border: none;
		 margin-bottom:1rem;
			box-sizing:border-box;
			padding:0.5em;
			max-height: 500px;
			overflow:hidden;

  figure { margin: .75rem, .5rem;}
    img {
      max-width: 400px;
      border-radius: 1rem;
    }
      a {
        text-decoration:none;
        }
        h3 {
          font-size: 1.5rem;
          margin: 0;
        }
        p {
          font-size: .85rem;
          margin: .5rem;}

		}

		@include breakpoint(mobile-large){
		@media only screen and (min-width: 56.25em) {
		width:50%;
		}

		img{
			width: 100%;
			height:auto;
		}
	}

/
	.workcard-bg{
		background-color:#FFF;
		height:100%;
		position:relative;

	}


	.calltoaction{
		display:inline-block;
		margin:auto auto 1.5em auto;

		@media only screen and (min-width: 30em) {
    		position: absolute;
    		left: 50%;
    		bottom: 0;
    		transform: translateX(-50%);
		}
	}


@supports( (display:flex) or (display: -webkit-flex) or (display: -webkit-flex) or (display: -moz-flex) or (display: -ms-flex) or (display: -o-flex) ){
         .workcard-bg{
            display:flex;
            flex-direction:column;
            flex:1 0 auto;
        }

        .calltoaction{
            margin:auto auto 1.5em auto;
        }

        @media only screen and (min-width: 30em) {
            .gridwrapper{
                display:flex;
                flex-direction:row;
                flex-wrap:wrap;
            }

            .calltoaction{
                position: static;
                left: initial;
                bottom:initial;
                transform: translateX(0);
            }

            .workcard{
                height:auto;
                overflow:auto;
                margin-bottom: 0;

                p {
                    max-height: none;
                    overflow:auto;
                }
            }
        }
    }
    @supports(display:grid){
        .gridwrapper{
            display:grid;
            grid-template-columns:repeat(auto-fit, minmax(20.5em, 2fr));
            grid-gap:1em;


            @media only screen and (min-width: 30em) {
                padding:1em;
            }
        }

        .workcard{
            width:auto;


            @media only screen and (min-width: 30em) {
			        padding:0;
			        margin-bottom:0;
            }
        }
    }


	.calltoaction{
	  color: #4d4d4d;
    border-bottom: 3px solid #4d4d4d;
    border-top: 2px solid #4d4d4d;
border-left: 2px solid #4d4d4d;
border-right: 2px solid #4d4d4d;

    margin-top: .75rem;
		padding:0.5rem 1.5rem .5rem;
    border-radius:1.25em;

		&:hover, &:focus, &:active {
			cursor:pointer;
      color: #4d4d4d;
      border: 2px solid #4d4d4d;
      background-color: #CFF7FF;
      transition: .3s;
      transform: translateY(.1rem);
		}

	}


























.rfp {
  text-decoration: none;
  color: #37c6f4; }

.rfp:hover {
  color: #4d4d4d; }

  .labprojectintro {
    text-align: left;
     }

.project .projectoneintro {
  overflow: hidden; }

.projectoneintro {
  padding: 2% 5% 10% 50%;
    text-align: left;
    background-attachment: fixed;
    background-image: url(../images/SwimATXdisplay.png);
    background-position: -5% 25%;
    background-size: 60%;
    background-repeat: no-repeat;
}

.projecttwointro {
  padding: 5% 5% 15% 50%;
  text-align: left;
  background-attachment: fixed;
  background-image: url(../images/Goodreadsdisplay.png);
  background-position: left;
  background-size: 60%;
  background-repeat: no-repeat; }


.project .projectthreeintro {
  overflow: hidden;
}

.otherintro_text {
  max-width: 700px;
  text-align: center;
  margin: 4rem auto;
  background: white;}

  .otherintro_text h3{
    font-weight: 300;
    text-align: center;
    line-height: 1.6;}

.intro_text {
  position: relative;
  max-width: 50%;
  float: right;
  text-align: left;
  margin: 5% 10% 5% 1%;
  background: white;}

    .labprojectintro {
      display: inline-block;
    }

    .labpic {
      float:left;
      padding: 0em 2em 2em 0em;
    }


    .praxpic {
      float:left;
      max-height: 350px;
      padding: 0em 2em 2em 0em;
    }
    .projectintro_div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 100px 250px 0;
    overflow: hidden;
}

    .projpic {
      grid-area: 1 / 1 / 2 / 3; }

    .projintro_text{
      padding: 0rem 3rem 2rem;
      text-align:left;
      grid-area: 1 / 3 / 4 / 6; }

    .projpic img{
      max-width: 450px;
    }

    .projassets{
      margin-top: 4rem;
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(4, .5fr);
grid-column-gap: 0px;
grid-row-gap: 0px; }

.projassets2{
  margin-top: 4rem;
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(2, .5fr);
grid-column-gap: 0px;
grid-row-gap: 0px; }

      .imgdiv1 {
        grid-area: 2 / 1 / 2 / 4;
        }
      .imgdiv1 img{
        max-width: 450px;
      }
      .textdiv1 { grid-area: 1 / 1 / 3 / 4;
      text-align: left;
      margin-left: 4rem;
      margin-bottom: 2rem;
      max-width: 450px;}

      .imgdiv2 { grid-area: 2 / 4 / 2 / 7;}
      .imgdiv2 img{
          max-width:450px;
      }
      .textdiv2 { grid-area: 1 / 4 / 3 / 7;
         text-align: left;
           margin-left:4rem;
             margin-bottom: 2rem;
       max-width: 450px;}

      .imgdiv3{ grid-area: 4 / 1 / 4 / 4;}
      .imgdiv3 img{
        max-width: 450px;
      }
      .textdiv3 { grid-area: 3 / 1 / 5 / 4;
        text-align: left;
          margin-left:4rem;
            margin-bottom: 2rem;
      max-width: 450px;}


    .labintro_text {
      margin: 2em 2em 0em 2em;
        text-align: left;
        }

.projectbeginintro {
    overflow: hidden;
  }
  .projectbeginintro img{
    z-index: -10000000;
    max-width: 400px;
    position: absolute;
    top: 150px;
    left: 60px;

}
.branchintropic img {
  width: 350px; }

.project .projectfourintro {
  overflow: hidden; }

.projectfourintro {
  padding: 5% 50% 15% 5%;
  text-align: left;
  background-image: url(../images/vtdisplay.png);
  background-position: right;
  background-size: 70%;
  background-repeat: no-repeat; }

.introp {
  line-height: 1.6;
  font-family: "Open Sans", Helvetica, sans-serif; }

.project .problem, .process {
  clear: both;
  text-align: left;
  margin: 2rem 3rem;
 }

 .problem {
   max-width:70%;
 }

.branchproblem {
  padding-top: 2%;
  background: white;
  position: relative;
  z-index: 3; }

.problem h1 {
  margin: 1em 0em 0em; }

.process h1 {
  margin: 2em 0em 0em; }

.projectheader {
  padding: 0px 2rem; }


.projectdiv {
  float: left;
  width: 58%;
  margin-bottom: 2rem; }

.projectpicleft {
  position: relative;
  display: inline-block;
  clear: both;
  float: left;
  padding: 20px 30px 0px 0px; }

  .projectpicright {
    position: relative;
    display: inline-block;
    clear: both;
    float: left;
    padding: 20px 30px 0px 0px; }

.hovertext{
  font-family: 'Open Sans';
  background-color: white;
  padding: 1rem;
  color:#4d4d4d;
  position: absolute;
  bottom: 30%;
  left: 30%;
  visibility: hidden;
  z-index: 1;
}

.projectpicleft:hover .hovertext{
  visibility: visible;
}
.projectpicright:hover .hovertext {
  visibility: visible;
}


.projectpicleft img {
  opacity: 1;
  cursor: pointer;
}




.projectpicright img { opacity: 1;
  cursor: pointer;
}


/* The expanding image container */
.container {
  position: absolute;
  top: 50px;
  left:5%;
  padding: 8rem 10rem;
  display: none;
  background-color:#ffff;
  box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.1);
  animation: mymove .5s;
}

@keyframes mymove {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Expanding image text */
#imgtext {
  font-family: 'Open Sans';
  font-style: italic;
  position: absolute;
  top: 1rem;
  left: 30px;
  color: #4d4d4d;
  max-width: 80%;
  padding: 1rem;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 1rem;
  margin-right: 15px;
  right: 15px;
  color: #4d4d4d;
  font-size: 2rem;
  cursor: pointer;
}





.grcompare {
  max-width: 400px; }



.prcompare {
  height: 300px; }

.begincompare {
    height: 400px; }

.projectpicright {
  clear: both;
  float: right; }

.projectpicright img {
  max-height: 500px; }

.number {
  float: left;
  height: 50px;
  padding: 0 .5em }
.numberheader {
  display: inline;
}
.numberheader h2 {
  padding: .5em; }

.process p {
  padding: 0px 2rem; }

  .container {
    max-width: 1200px
  }

  /* begin otherwork css */

  .parent {
  display: flex;
  flex-wrap:wrap;
  }

  .parent .divmain {
  flex: 25%;
  padding: 1em;
  vertical-align: middle;
}

  .overlay {
    text-align: center;
    position: relative;
    width: 100%;
    padding: .5rem 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
  }

  a:hover{text-decoration: none;}

.list-inline: {
  display: inline;
}
  .list-inline-item {
    display: inline-block;
  }

  .img-fluid {
    max-width: 360px;
  }

  			.gallery-top-text li a{ padding:1.3rem;
          min-width: 50px;
          color: #4a4a4a;
          display: inline-block;
          margin: 1rem 0 2rem 0;
        text-decoration: none;}

  			.filter-button.active{border-bottom: 3px solid #37c6f4; color: #37c6f4;}
  			.filter {border: 1px solid #fff; }


  			.filter:hover .overlay {opacity: 1; }
  			.text {
          background-color: white;
          width: 360px;
          font-family: 'Outfit';
          position: absolute;
          top: 100%;
          left: 50%;
           padding: 1rem 0;
           box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.1);

           -webkit-transform: translate(-50%, -100%);
           -ms-transform: translate(-50%, -100%);
           transform: translate(-50%, -100%);
          text-align: center; }
        	.text h2, p{padding: 0;}

  @media screen and (max-width: 992px) {

   .parent {
  display: block;
  }
    .overlay {
    text-align: center;
    position: relative;
    width: 100%;
      top: 80%;}

  }
/* end other work css */

@media (min-width: 761px) and (max-width: 1000px) {

  .skillgraphic img {
    height: 80px; }

  .intro_text {
    position: relative;
    width: 50%;
    float: right;
    text-align: left;
    padding: 5% 2% 0%; }

  .project .projectthreeintro {
    overflow: hidden;
    margin: 0 auto;
}

  .projectdiv {
    width: 100%;
    margin-bottom: 60px; }

  .process p {
    clear: both;
    padding: 0px 0px; }

  .projectheader {
    padding: 0px 0px; }

  .projectpicright {
    float: left; } }
@media (min-width: 501px) and (max-width: 760px) {


  .projassets, .projassets2{
    display: block;}

  .projectintro_div {
  display: block;
}
  .intro_text {
    position: relative;
    width: 90%;
    float: none;
    text-align: left;
    padding: 5% 5% 0%; }

    .labintro_text {
        display: block;
        margin: 0% 5%;
      }
  .praxpic {
    padding: 0;
    display: block;
    float: none;
    margin: 0 auto;
  }

  .branchintropic img {
    width: 300px; }

  .project .projectthreeintro {
    overflow: hidden;
    margin: 0 auto; }

  .projectdiv {
    width: 100%; }

  .projectpicright {
    padding: 20px 30px 0px 0px;
    float: left; }

  .projectheader {
    padding: 0px 0px; }

  .process p {
    clear: both;
    padding: 0px 0px; } }

@media (min-width: 320px) and (max-width: 500px) {

.projectcontent {
  background: white;
  padding: .5rem;
}

  .projectintro_div {
  display: block;
}
.projassets, .projassets2{
  display: block;}

.number {
    float:left;
    height: 35px;
    padding: .5em 0em 0em 0em}

  .intro_text {
    position: relative;
    width: 90%;
    float: none;
    padding: 5% 5% 0%; }


  .branchintropic img {
    width: 300px; }

  .projectoneintro {
    text-align: center;
    background-position: top;
    padding: 5% 10% 50%;
    background-size: cover; }

  .projecttwointro {
    text-align: center;
    background-position: 50% 90%;
    padding: 5% 10% 60%;
    background-size: contain; }

  .projectthreeintro {
    text-align: center;
    background-size: 30%; }

  .projectfourintro {
    text-align: center;
    background-position: 50% 70%;
    padding: 5% 10% 50%;
    background-size: contain; }

  .projectdiv {
    width: 100%; }

  .process p {
    clear: both;
    padding: 0px 10px; }

  .projectheader {
    padding: 0px 10px; }

  .projectpicright {
    padding: 20px 30px 0px 0px;
    float: left; } }

    .biodiv {
      width:90%;
      margin: 0 auto;
      padding-top: .5rem;
    }

.skillsection {
  clear:both;
    text-align: center;
    margin: 3rem auto;
    width: 90%;
}

.skills {
  text-align: center;
  display: flex;
  padding: 0px 20px; }
  .skills h1 {
    width: 100%; }
  .skills .skillsolo {
    width: 20%;
    margin: 0 auto; }
  .skills .skillgraphic img {
    height: 100px; }
  .skills .skillinfo h2 {
    margin-bottom: 0%; }
    .skills .skillinfo p {
      text-align: center; }

.construction {
  text-align: center; }


  .constructiontext h2 {
    margin: 0 auto 3rem;
      max-width: 600px;
      font-weight: 300;
  }

.constructiontext a{
    text-decoration: none;
  ;
}
.constructiontext p{
    visibility: hidden;
}

.constructiontext p:hover{
    visibility: visible;
}

  .construction .constructiontext {
    margin: 7%; }

    .tatedoh {
      height: 180px;
    }

  .constructionsocial img {
    transition: 0.2s ease-in;
    text-align: center;
    max-width: 80px;
    margin: 2% 4%;
    border-radius: 50px;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.1);}

  .constructionsocial img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0.5px 0.5px 0.5px rgba(0, 0, 0, 0.3)); }


.navbar {
  box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.1);
  background-color: none;
  margin: 0 0 1rem 0;
  clear: both;
  overflow: hidden; }

.navbar img {
  height: 70px;
  margin: 20px 20px 10px 50px;
   }

.navbar ul {
  float: right;
  padding: 40px 60px 30px 30px; }

.navbar li {
  display: inline-block;
  padding-left: 50px; }

.navli {
  display: inline; }

.navbar #logo{
  float: left;

}

.navbar a {
  text-decoration: none;
  font-family: "Outfit", Helvetica, sans-serif;
  font-size: 1.2em;
  color: #4d4d4d;
  padding: 15px; }

a:hover {
  color: #00cfff;
  font-weight:400;
   }

.intro {
  text-align: center;
  color: #4d4d4d;
  padding: 40px 40px 60px;
  clear: both; }

.intro h2 {
  line-height: 1.6;
}


.introimg img{
  padding-top: 4%;
  text-align: center;
  margin-bottom: 2%; }


.work {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

#branchless {
  background-size: 400px; }

#work, #about, #contact h1 {
  text-align: center;
  color: #4d4d4d;
  padding: 10px; }

#about{
  clear: both;
    text-align: center;
    margin: 0 auto;
    width: 90%;

}

.biodiv{
  display: inline-block;
}

.bio {
  text-align: left;
  width: 70%;
  float:left;

}

.bio img {
  height: 160px;
  border-radius: 300px;
  border: 3px solid #00cfff;
  float: left;
  margin-right: 2em; }

.bio p {
  padding-right: 10px; }

.favorites {
  padding-bottom: 20px;
}

.favorites ul{
  padding-inline-start: 0px;

}



.favorites li {
  list-style: none;
  display: block;
  padding-right: 1.5rem;
    }


.favorites h3 {
  margin-bottom: 10px;
  text-align: center; }

.favorites img {
  height: 70px;
  border-radius: 60px;
  margin: 0px; }

.resume img{
  max-width: 800px; }



#contact {
  clear: both;
  text-align: center;
}

.connect h2 {
  padding-top: 20px; }
.connect ul {
  -webkit-padding-start: 0px; }
.connect a {
  text-decoration: none; }
.connect .emailimg {
  height: 100px;
}


.connect .phoneimg {
  height: 100px;
   }


.connect .contactimg li {
  min-width: 150px;
  display: inline-block;
  list-style: none;
  padding: 1rem 2rem; }

.socialcontainer {
  clear: both; }

.socialcontainer h2 {
  padding-bottom: .5em;
}

.social {
  display: inline;
  height: 20px; }

.social img {
  transition: 0.2s ease-in;
  height: 60px;
  padding: 0px 30px; }

.social img:hover {
  transform: scale(1.1);
   }

.footerdiv {
  background: white;
  z-index: 3;
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 2rem; }

.footerdiv ul {
  list-style: none;
  margin: 20px 0px;
  -webkit-padding-start: 0px; }

.footerdiv li {
  display: inline;
  padding: 0px 60px; }

.footerdiv img {
  height: 50px; }

@media (min-width: 761px) and (max-width: 1000px) {
  .skills .skillgraphic img {
    height: 100px; }

  .social img {
    height: 70px;
    padding: 0px 20px; }

  .footerdiv li {
    display: inline;
    padding: 0px 40px; } }
@media (min-width: 501px) and (max-width: 760px) {

  .skills  {
    clear:both;
    display: block; }

    .skills .skillsolo {
      padding-bottom: .5rem;
    width: 90%;}

  .navbar img {
    height: 80px;
    margin: 30px 20px 20px 30px; }

  .navbar ul {
    float: right;
    padding: 50px 60px 30px 10px; }

  .navbar li {
    display: inline-block;
    padding-left: 50px; }

  .navbar li {
    padding-left: 5px; }

  .navbar a {
    font-size: 1.2em;
    padding: 10px; }

  .intropic {
    height: 400px; }

  .intro h2 {
    padding: 20px; }

  .intro img {
    width: 100%; }

  .worksample {
    margin: 0 auto;
    margin-bottom: 20px;
    height: 300px;
    width: 300px; }

  .worksample h2 {
    font-size: 1em;
    padding: 10px; }

  .social img {
    height: 60px;
    padding: 0px 10px; }

  .footerdiv img {
    height: 40px; }

  .footerdiv li {
    padding: 0px 10px; } }
@media (min-width: 320px) and (max-width: 500px) {

    .skills  {
      display: block; }
      .skills .skillsolo {
        padding-bottom: 1rem;
      width: 90%;}

  .resume img {
    max-height: 500px;
    padding: 2% 2% 2% 0%; }


  .intropic {
    height: 200px; }

  h1 {
    font-size: 1.5em; }

  h2 {
    font-size: 1.2em; }

  .navbar img {
    height: 45px;
    margin: 10px 10px 10px 20px; }

  .navbar ul {
    padding: 15px 25px 0px 10px; }

  .navbar li {
    padding-left: 5px; }

  .navbar a {
    font-size: 1em;
    padding: 10px; }

  .intro {
    padding: 1rem; }


  .intro img {
    width: 100%; }

  .worksample {
    width: 300px;
    height: 300px; }


  .bio {
    width: 90%;
    text-align: left;
    padding: 5px 20px 5px; }

  .bio h2 {
    margin: 10px; }

  .bio img {
    height: 100px;
    float: left; }

.favorites {
  float: none;
}

  .favorites li{
    display: inline-block; }

  .connect .phoneimg {
    height: 70px; }
  .connect .emailimg {
    height: 70px; }


  .social img {
    height: 45px;
    padding: 0px 7px; }

  .footerdiv {
    padding-top: 2rem; }

  .footerdiv li {
    padding-top: 10px;
    display: block;
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
