body {
  text-align: center; }

h1, h2, h3, a, li {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 400;
  color: #4d4d4d; }

p {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.6; }


.case-study-gallery {
  margin-top: 50px;
  width: 90%;
  margin: 50px auto;
  max-width: 1100px; }

.case-study {
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  margin: 0 auto 2rem;
  background-size: cover;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all .4s ease; }
  @media screen and (min-width: 37.5em) {
    .case-study {
      height: 300px; } }
  @media screen and (min-width: 45em) {
    .case-study {
      display: inline-block;
      width: 45%;
      margin-left: 25px; } }

.case-study__img {
  width: 90%;
  display: block;
  margin-top: 50%;
  transform: translateY(50%);
  margin: 0 auto; }

.case-study__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10; }
  .case-study__overlay:after {
    content: '';
    width: 100%;
    border-radius: 0px;
    height: 100%;
    background-color: #202020;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -10;
    left: 0;
    transition: all .3s ease; }

.case-study__title {
  position: relative;
  top: -200px;
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-size: 2.25rem;
  font-family: 'Raleway';
  font-weight: 100;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3); }

.case-study__link {
  position: relative;
  display: block;
  width: 70%;
  top: 200px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Raleway';
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 1.25em;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3); }

  .case-study__link:hover {
    background-color: white;
    color: #202020; }

.case-study:hover .case-study__title {
  top: 0; }
.case-study:hover .case-study__link {
  top: 0; }
.case-study:hover .case-study__overlay:after {
  opacity: .75; }

.study1 {
  background-image: url("../images/SwimATXsolid.jpg");
  background-position: center center; }

.study2 {
  background-image: url("../images/brsolid.jpg");
  background-position: center center; }

.study3 {
  background-image: url("../images/GRsolid.jpg");
  background-position: center center; }

.study4 {
  background-image: url("../images/vitamintdisplay.png");
  background-position: center center; }

.study5 {
  background-image: url("../images/labblue.png");
  background-position: center center; }

.study6 {
  background-image: url("../images/tjsolid.jpg");
  background-position: center center; }

.rfp {
  text-decoration: none;
  color: #37c6f4; }

.rfp:hover {
  color: #4d4d4d; }

.project .projectoneintro {
  overflow: hidden; }

.projectoneintro {
  padding: 5% 5% 15% 50%;
  text-align: left;
  background-attachment: fixed;
  background-image: url(../images/SwimATXdisplay.png);
  background-position: left;
  background-size: 60%;
  background-repeat: no-repeat; }

.project .projecttwointro {
  overflow: hidden; }

.projecttwointro {
  padding: 5% 5% 15% 50%;
  text-align: left;
  background-attachment: fixed;
  background-image: url(../images/Goodreadsdisplay.png);
  background-position: left;
  background-size: 60%;
  background-repeat: no-repeat; }

.project .projectthreeintro {
  overflow: hidden;
  margin: 0 auto;
  height: 600px; }

.intro_text {
  position: relative;
  width: 60%;
  float: right;
  text-align: left;
  padding: 5% 5%; }

.branchintropic {
  float: left;
  position: fixed;
  left: 5%; }

.branchintropic img {
  width: 350px; }

.project .projectfourintro {
  overflow: hidden; }

.projectfourintro {
  padding: 5% 50% 15% 5%;
  text-align: left;
  background-attachment: fixed;
  background-image: url(../images/vtdisplay.png);
  background-position: 90% 50%;
  background-size: 70%;
  background-repeat: no-repeat; }

.introp {
  line-height: 1.6;
  font-family: "Open Sans", Helvetica, sans-serif; }

.project .problem, .process {
  text-align: left;
  margin: 0% 7%; }

.branchproblem {
  padding-top: 2%;
  background: white;
  position: relative;
  z-index: 3; }

.problem h1 {
  margin: 50px 0px 20px; }

.process h1 {
  margin: 50px 0px 20px; }

.projectheader {
  padding: 0px 66px; }

.project p {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.projectdiv {
  float: left;
  width: 60%;
  margin-bottom: 80px; }

.projectpicleft {
  clear: both;
  float: left;
  width: 30%;
  padding: 20px 30px 0px 0px;
  margin-right: 30px; }

.grcompare {
  height: 250px; }

.projectpicright {
  clear: both;
  float: right; }

.projectpicright img {
  height: 300px; }

.number {
  float: left;
  height: 50px;
  padding: 5px 10px 0px 10px; }

.numberheader {
  float: left; }

.numberheader h2 {
  margin: 15px 0px 10px; }

.process p {
  clear: both;
  padding: 0px 66px; }

@media (min-width: 761px) and (max-width: 1000px) {
  .intro_text {
    position: relative;
    width: 50%;
    float: right;
    text-align: left;
    padding: 5% 5% 0%; }

  .project .projectthreeintro {
    overflow: hidden;
    margin: 0 auto;
    min-height: 600px; }

  .projectdiv {
    width: 100%;
    margin-bottom: 60px; }

  .process p {
    clear: both;
    padding: 0px 0px; }

  .projectheader {
    padding: 0px 0px; }

  .projectpicright {
    float: left; } }
@media (min-width: 501px) and (max-width: 760px) {
  .intro_text {
    position: relative;
    width: 90%;
    float: none;
    text-align: left;
    padding: 5% 5% 0%; }

  .branchintropic {
    width: 90%;
    float: none;
    position: fixed; }

  .branchintropic img {
    width: 300px; }

  .project .projectthreeintro {
    overflow: hidden;
    margin: 0 auto;
    min-height: 600px; }

  .projectdiv {
    width: 100%; }

  .projectpicright {
    padding: 20px 30px 0px 0px;
    float: left; }

  .projectheader {
    padding: 0px 0px; }

  .process p {
    clear: both;
    padding: 0px 0px; } }
@media (min-width: 320px) and (max-width: 500px) {
  .intro_text {
    position: relative;
    width: 90%;
    float: none;
    text-align: center;
    padding: 5% 5% 0%; }

  .branchintropic {
    width: 100%;
    float: none;
    position: fixed; }

  .branchintropic img {
    width: 300px; }

  .projectoneintro {
    text-align: center;
    background-position: 50% 70%;
    padding: 5% 10% 50%;
    background-size: contain; }

  .projecttwointro {
    text-align: center;
    background-position: 50% 80%;
    padding: 5% 10% 50%;
    background-size: contain; }

  .projectthreeintro {
    text-align: center;
    background-position: 55% 70%;
    padding: 5% 10% 60%;
    background-size: 50%; }

  .projectfourintro {
    text-align: center;
    background-position: 50% 70%;
    padding: 5% 10% 50%;
    background-size: contain; }

  .projectdiv {
    width: 100%; }

  .process p {
    clear: both;
    padding: 0px 10px; }

  .projectheader {
    padding: 0px 10px; }

  .projectpicright {
    padding: 20px 30px 0px 0px;
    float: left; } }

    .biodiv {
      max-width: 1100px;
      margin: 0 auto;
    }

.skillsection {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 1100px;
}

.skills {
  text-align: center;
  display: flex;
  padding: 20px; }
  .skills h1 {
    width: 100%; }
  .skills .skillsolo {
    width: 20%;
    margin: 0% 2.5%; }
  .skills .skillgraphic img {
    height: 100px; }
  .skills .skillinfo h2 {
    margin-bottom: 0%; }

.construction {
  text-align: center; }
  .construction .constructiontext {
    margin: 5%; }
  .construction img {
    text-align: center;
    max-width: 400px;
    margin: 0% 5%; }

.case-study_mobile {
  display: none; }

.navbar {
  box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.1);
  background-color: none;
  margin: 0px;
  clear: both;
  overflow: hidden; }

.navbar img {
  float: left;
  height: 90px;
  margin: 30px 20px 20px 60px; }

.navbar ul {
  float: right;
  padding: 50px 60px 30px 30px; }

.navbar li {
  display: inline-block;
  padding-left: 50px; }

.navli {
  display: inline; }

.navbar a {
  text-decoration: none;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 1.2em;
  color: #4d4d4d;
  padding: 15px; }

a:hover {
  color: #00cfff; }

.intro {
  text-align: center;
  color: #4d4d4d;
  padding: 40px 40px 60px;
  clear: both; }

.introimg {
  padding-top: 2%;
  width: 100%;
  text-align: center;
  margin-bottom: 5%; }

.work {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

#branchless {
  background-size: 400px; }

#work, #about, #contact h1 {
  text-align: center;
  color: #4d4d4d;
  padding: 30px 10px 5px; }

.bio {
  padding: 0px 30px 60px;
  text-align: left;
  float: left;
  width: 60%; }

.bio img {
  height: 200px;
  float: left;
  padding-right: 10px; }

.bio p {
  padding-right: 10px; }

.favorites li {
  list-style: none; }

.favorites a {
  text-decoration: none;
  text-align: center; }

.favorites p {
  margin-bottom: 10px;
  font-weight: 400; }

.favorites img {
  height: 70px;
  border-radius: 60px;
  margin: 0px; }

.resume {
  padding: 2.5%; }

#contact {
  clear: both;
  text-align: center; }

.connect h2 {
  padding-top: 20px; }
.connect ul {
  -webkit-padding-start: 0px; }
.connect a {
  text-decoration: none; }
.connect .emailimg {
  height: 100px;
}
.connect .emailimg:hover {
  transition: 0.2s cubic-bezier(.36,.07,.19,.97) both;
  animation: shake .5s 2; }

  @keyframes shake {
  0% {
   transform: rotate(0deg);
 }
 50% {
   transform:rotate(20deg);
 }
 100% {
   transform:rotate(-20deg);
 }
 }
.connect .phoneimg {
  height: 100px;
   }
.connect .phoneimg:hover {
  transition: 0.2s cubic-bezier(.36,.07,.19,.97) both;
  animation: shake .5s 2; }

.connect .contactimg li {
  min-width: 150px;
  display: inline-block;
  list-style: none;
  padding: 1rem 2rem; }

.socialcontainer {
  clear: both; }

.socialcontainer h2 {
  padding-top: 1em;
  padding-bottom: .5em;
}

.social {
  display: inline;
  height: 20px; }

.social img {
  transition: 0.2s ease-in;
  height: 60px;
  padding: 0px 30px; }

.social img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0.5px 0.5px 0.5px rgba(0, 0, 0, 0.3)); }

.footerdiv {
  background: white;
  z-index: 3;
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 150px; }

.footerdiv ul {
  list-style: none;
  margin: 20px 0px;
  -webkit-padding-start: 0px; }

.footerdiv li {
  display: inline;
  padding: 0px 60px; }

.footerdiv img {
  height: 50px; }

@media (min-width: 761px) and (max-width: 1000px) {
  .skills .skillgraphic img {
    height: 150px; }

  .social img {
    height: 70px;
    padding: 0px 20px; }

  .footerdiv li {
    display: inline;
    padding: 0px 40px; } }
@media (min-width: 501px) and (max-width: 760px) {
  .skills .skillgraphic img {
    height: 100px; }

  .navbar img {
    height: 80px;
    margin: 30px 20px 20px 30px; }

  .navbar ul {
    float: right;
    padding: 50px 60px 30px 10px; }

  .navbar li {
    display: inline-block;
    padding-left: 50px; }

  .navbar li {
    padding-left: 5px; }

  .navbar a {
    font-size: 1.2em;
    padding: 10px; }

  .intropic {
    height: 350px; }

  .intro h2 {
    padding: 20px; }

  .intro img {
    width: 100%; }

  .worksample {
    margin: 0 auto;
    margin-bottom: 20px;
    height: 300px;
    width: 300px; }

  .worksample h2 {
    font-size: 1em;
    padding: 10px; }

  .social img {
    height: 60px;
    padding: 0px 10px; }

  .footerdiv img {
    height: 40px; }

  .footerdiv li {
    padding: 0px 10px; } }
@media (min-width: 320px) and (max-width: 500px) {
  .case-study__overlay {
    display: none; }

  .case-study {
    margin: 0; }

  .case-study_mobile {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 0% 0% 10%;
    padding: 5% 0%;
    display: block;
    background: white;
    font-size: 2em;
    text-decoration: none; }

  .resume img {
    max-height: 500px;
    padding: 2% 2% 2% 0%; }

  .skillsection {
    display: none; }

  .intropic {
    height: 200px; }

  h1 {
    font-size: 1.5em; }

  h2 {
    font-size: 1.2em; }

  .navbar img {
    height: 60px;
    margin: 10px 10px 10px 20px; }

  .navbar ul {
    padding: 10px 20px 10px 10px; }

  .navbar li {
    padding-left: 5px; }

  .navbar a {
    font-size: 1.1em;
    padding: 10px; }

  .intro {
    padding: 20px; }

  .intro h2 {
    padding: 20px; }

  .intro img {
    width: 100%; }

  .worksample {
    width: 300px;
    height: 300px; }


  .bio {
    width: 90%;
    text-align: left;
    padding: 5px 20px 5px; }

  .bio h2 {
    margin: 10px; }

  .bio img {
    height: 100px;
    float: left;
    padding-right: 10px; }

  .bio p {
    text-indent: 2em;
    font-size: 1em; }

  .favorites {
    display: none; }

  .connect .phoneimg {
    height: 70px; }
  .connect .emailimg {
    height: 70px; }
  .connect .contactimg li {
    list-style: none;
    display: block;
    padding: 2% 5%; }

  .social img {
    height: 45px;
    padding: 0px 7px; }

  .footerdiv {
    padding-top: 100px; }

  .footerdiv li {
    padding-top: 10px;
    display: block;
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
