@import "partials/typography";
@import "partials/gallery";
@import "partials/projectpage";
@import "partials/practice";
@import "partials/construction";

$primarycolor: #37c6f4;

.navbar {
  box-shadow: .5px .5px 5px rgba(0,0,0,0.1);
  background-color: none;
  margin: 0px;
  clear: both;
  overflow: hidden;
}


.navbar img {
  float: left;
  height: 90px;
  margin:30px 20px 20px 60px;
}

.navbar ul {
  float:right;
  padding:50px 60px 30px 30px;
}

.navbar li {
  display: inline-block;
  padding-left: 50px;}

.navli {
  display: inline;
}

.navbar a {
  text-decoration: none;
  font-family: $headerfont;
  font-size: 1.2em;
  color: #4d4d4d;
  padding: 15px;
}

a:hover {
  color: #00cfff;
}

.intro {
  text-align: center;
  color: #4d4d4d;
  padding: 40px 40px 60px;
  clear: both;
}

.introimg {
  padding-top: 2%;
  width: 100%;
  text-align: center;
  margin-bottom: 5%;

}

.work {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


#branchless {
background-size: 400px;
}

#work, #about, #contact h1 {
text-align: center;
color: #4d4d4d;
padding: 30px 10px 5px;}



.bio {
padding: 0px 30px 60px;
text-align: left;
float: left;
width: 60%;
}

.bio img{
height:200px;
float: left;
padding-right: 10px;}


.bio p{
    text-indent: 2em;
}

.favorites {
  padding: 10px 30px 60px;
}

.favorites li{
  list-style: none;}

.favorites a{
  text-decoration: none;
  text-align: center;
}
.favorites p{
  margin-bottom: 10px;
  font-weight: 400;
}

.favorites img{
  height: 70px;
  border-radius: 60px;
  margin: 0px;
}

.resume {
  padding: 2.5%;
}

#contact {
  clear: both;
  text-align: center;
}

.connect{
  h2 {padding-top: 20px;}
  ul {
    -webkit-padding-start: 0px;
  }


  a {text-decoration: none;}

 .emailimg{
   transition: 0.2s ease-in-out;
  height: 120px;
}

.emailimg:hover{
  transform: rotate(20deg);
}

.phoneimg{
  transition: 0.3s ease-in-out;
 height: 120px;
}

.phoneimg:hover{
 transform: rotate(-20deg);
}
.contactimg li{
  display: inline-block;
  list-style: none;
  padding: 2% 5%;
}

}

.socialcontainer {
  clear:both;
}
.social {
  display: inline;
  height: 30px;}

.social img {
  transition: 0.2s ease-in;
  height: 70px;
  padding: 0px 30px;}

  .social img:hover{
    transform: scale(1.1);
    filter: drop-shadow(.5px .5px .5px rgba(0,0,0,.3));
}

.footerdiv {
  background: white;
  z-index: 3;
  position: relative;
  width: 100%;
text-align: center;
padding-top: 150px;
}
.footerdiv ul {
    list-style: none;
    margin: 20px 0px;
    -webkit-padding-start: 0px;
  }

  .footerdiv li {
    display: inline;
    padding: 0px 60px;
  }
  .footerdiv img {
    height: 50px;
  }


@media (min-width: 761px) and (max-width: 1000px) {

  .skills .skillgraphic img{
    height: 150px;
  }
.social img {
    height: 70px;
    padding: 0px 20px;}
.footerdiv li {
  display: inline;
  padding: 0px 40px;
}
}


@media (min-width: 501px) and (max-width: 760px) {

  .skills .skillgraphic img{
    height: 100px;
  }

.navbar img {
    height: 80px;
    margin:30px 20px 20px 30px;
  }

  .navbar ul {
    float:right;
    padding:50px 60px 30px 10px;
  }

  .navbar li {
    display: inline-block;
    padding-left: 50px;}



    .navbar li {
      padding-left: 5px;}

      .navbar a {
        font-size: 1.2em;
        padding: 10px;
      }


      .intropic {
        height: 350px;
      }
          .intro h2{
                padding:20px;
              }

        .intro img {
          width: 100%;
        }
  .worksample {
  margin: 0 auto;
  margin-bottom: 20px;
  height:300px;
  width: 300px;
  }
  .worksample h2{
    font-size: 1em;
    padding:10px;
  }

  .social img {
    height: 60px;
    padding: 0px 10px;}

  .footerdiv img {
    height: 40px;
  }
  .footerdiv li {
    padding: 0px 10px;
  }
}

@media (min-width: 320px) and (max-width: 500px){

.resume img{
max-height: 500px;
padding: 2% 2% 2% 0%;}

  .skillsection{
    display: none;
  }

  .intropic {
    height: 200px;
  }

h1 {font-size: 1.5em;
}
h2 {font-size: 1.2em;
}
.navbar img {
    height: 60px;
    margin:10px 10px 10px 20px;
  }

  .navbar ul {
    padding:10px 20px 10px 10px;
  }

  .navbar li {
    padding-left: 5px;}

    .navbar a {
      font-size: 1em;
      padding: 10px;
    }

.intro {
      padding:20px;
    }
    .intro h2{
          padding:20px;
        }

  .intro img {
    width: 100%;
  }

.worksample {
  width: 300px;
  height: 300px;
}

.bio {
width: 90%;
text-align: left;
padding: 5px 20px 5px;}

.bio h2 {
  margin: 10px;
}
.bio img{
height:100px;
float: left;
padding-right: 10px;}

.bio p{
  text-indent: 2em;
  font-size: 1em;
}

.favorites {
display: none;
}
.connect{


 .phoneimg{
  height: 70px;
}

.emailimg {
  height: 70px;
}
.contactimg li{
  list-style: none;
  display: block;
  padding: 2% 5%;
}

}

.social img {
  height: 45px;
  padding: 0px 7px;}

  .footerdiv {
  padding-top: 100px;
  }

  .footerdiv li {
    padding-top: 10px;
    display: block;
    text-align: center;
  }

}
